.text-custom {
    color: var(--text-primary) !important;
}

.custom-section {
    background-color: var(--bg-primary) !important;
}

.text-green {
    color: var(--bg-secondary) !important;
}
.bg-green{
    background-color: var(--bg-secondary) !important;
}
.bg-colorPrimary {
    background-color: var(--bg-primary) !important;
}

.bg-colorSecondary {
    background-color: var(--color-primary) !important;
}
.mx-auto{
    margin-inline: auto;
}
.login-section{
    height: 100vh !important;
}