.form-section{

    .payment-icons{
        width: 75px;
        margin: 0.5rem;
        display: inline;
        svg{
            font-size: 3.5rem;
            fill: #85BB65;
        }
    }
    input{
        background-color: var(--color-primary);
        border: var(--color-primary);
        color: white;
    }
    input:focus{
        background-color: var(--color-primary);
        color: white;
    }
    label{
        color: white;
    }
}